.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    margin: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.konten {
    margin-left: 30px;
    margin-right: 30px;
}

.sec1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.sec2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.tagnbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.tagnbutton p {
    width: 400px;
    margin-top: -10px;
    text-align: left;
}

.sec1bagkanan img {
    width: 500px;
    height: 500px;
}

.sec1bagkiri {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec2bagkiri {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec1bagkiri img {
    width: 300px;
    height: 300px;
}

.sec2bagkiri img {
    width: 500px;
    height: 500px;
}

.sec2bagkanan img {
    width: 500px;
    height: 350px;
}

.sec2bagkanan {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.a-button {
    background-color: burlywood;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}