/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background-image: url(https://scontent.fbpn2-1.fna.fbcdn.net/v/t1.6435-9/220482614_4409644512430892_1546401994474017888_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeEYf7eARgjfGwGLGCST_ETrGdn1PifEEFUZ2fU-J8QQVXmrUC1or1hTKzed89ffUqsyefiLv4x06qz8CI6dGDBO&_nc_ohc=iSCY5qE50NgAX8aRU0p&_nc_ht=scontent.fbpn2-1.fna&oh=b4f8d3b9110bd15271f650d9876072dc&oe=61231E63);
    background-size: 600px;
    background-position: initial

}


h3{
    text-align: center;
    position: absolute;
    top: 160px;
    left: 150px;
    font-size: 24px;
    background: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.card{
    position: absolute;
    width: 788px;
    height: 422px;
    right: 170px;
    top: 250px;
    padding: 0;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.form-group1{
    width: 45%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #FFFFFF;
    border-radius: 30px;

}

.jenis-kelamin{
    position: absolute;
    width: 45%;
    float: right;
    top: 75px;
    left: 390px;  
}
.form-group2{
    position: absolute;
    width: 43%;
    top: 155px;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
.form-group3{
    width: 45%;
    position: absolute;
    float: right;
    left: 390px;
    top: 156px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-group4{
    float: left;
    width: 43% ;
    position: absolute;
    top: 230px;
    left: 20px;
}   
.form-group5{
    width: 45%;
    position: absolute;
    left: 390px;
    top: 209px; ;
}

.card1{
    position: absolute;
    width: 788px;
    height: 295px;
    right: 30px;
    top: 450px;
    left: 0px;


    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

}

.card2 {
    position: absolute;
    width: 788px;
    height: 380px;
    right: 30px;
    top: 780px;
    left: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.form-group6{
    width: 45%;
    position: absolute;
    left: 390px;
    top: 76px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.bulet{
    border-radius: 30px;
    border: black;
}
.bg-light{
    position: absolute;
    top: 0px;
    bottom: 800px;
    background-color: transparent;
    
    
}
.custom-file1 {
    position: absolute;
    width: 45%;
    top: 80px;
}
.paragraf {
    position: absolute;
    top: 140px;
}
.syarat{
    position: absolute;
    top: 195px;
}
.button {
    position: absolute;
    top: 290px;
    background-color: lightcoral;
  
}
.nav-judul{
    position: absolute;
    left: 620px;
    top: 130px;   
}
.region{
    position: absolute;
    top: 80px;
    width: 100%;
}
.kategori-lomba{
    top: 200px;
    position: absolute;
    left: 390px;
    top: 231px;
    width: 45%;
}  
.card-header {
    background-color: rgb(97, 94, 94);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}  
.bg-cd{
    background-color: grey;
}
.label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.gambar{
    position: absolute;
    top: 32px;
    left: 130px;
    padding: 0;
    
}

