body{
    background-color: #E5E5E5;
}
.tebel-banget {
    position: absolute;
    width: 445px;
    height: 78px;
    right: 650px;
    top: 455px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 110px;
    

}
.tebal-aja {
	position: absolute;
    width: 400px;
    height: 50px;
    left: 850px;
    top: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 110px;
}

.lebel {
    position: absolute;
    width: 445px;
    height: 78px;
    left: 650px;
    top: 455px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 110px;
	}
.tebel-sedang {
    font-weight: bold;
    
}
.button {
    background-color:#fe7878;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0,3s;
    position: absolute;
    width: 140px;
    height: 72.51px;
    right: 310px;
    top: 481px;
    font-weight: bold;
    
  
}
.button:hover {
    background-color: rgb(61, 4, 134);
    color: white;
}
.gambar {
    position: absolute;
    width: 420px;
    height: 420px;
    right: 820px;
    top: 160px;

}
.img {
    width: 700px;
    z-index: -1;
    
}
.link {
    color: rgb(10, 8, 8);
    transition: 0,3s;

}
.link:hover {
    color: rgb(10, 4, 124);

}
body {
    background-image: url(https://coolbackgrounds.io/white-background/);

}
.tombol {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.atom-1 {
    position: absolute;
width: 75.52px;
height: 95px;
right: 540px;
top: 400px;


background: url(atom.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
transform: rotate(-25deg);
}
.atom-2{
    position: absolute;
width: 60.76px;
height: 52.16px;
right: 500px;
top: 150.31px;

background: url(atom.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
transform: rotate(-25deg);
}
.atom-3{
    position: absolute;
width: 56.45px;
height: 49.54px;
right: 150px;
top: 315.36px;

background: url(atom.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
transform: rotate(-25deg);
}
.tebel-regis {
    position: absolute;
    width: 193.95px;
    height: 86.72px;
    left: 176px;
    top: 280px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 110px;
    color: black;
}
.logocfd{
    position: absolute;
    left: 155px;
    top: 40px;
}.form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
}
.untuk-login{
    position: absolute;
width: 427px;
height: 40px;
right: 159px;
top: 190px;
text-align: center;

background: rgba(254, 120, 120, 0.53);
border: 1px solid #9A9A9A;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;

}
.untuk-password{
    position: absolute;
width: 427px;
height: 40px;
right: 159px;
top: 270px;
text-align: center;

background: rgba(254, 120, 120, 0.53);
border: 1px solid #9A9A9A;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.ulang-password{
    position: absolute;
width: 427px;
height: 40px;
right: 159px;
top: 350px;
text-align: center;

background: rgba(254, 120, 120, 0.53);
border: 1px solid #9A9A9A;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.input-field input::placeholder{
    position: absolute;
    color: #9A9A9A; 
    font-weight: 500;
    top: 5px;
    left: 80px;
    font-size: 19px;

}
.tombol{
    position: absolute;
    width: 152px;
    height: 48px;
    right: 290px;
    top: 430px;
    

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 20px;
}
.lebel {
	 position: absolute;
    width: 152px;
    height: 48px;
    left: 307px;
    top: 430px;
    

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 20px;
}
.bg-ungu1 {
    background-color: #fe7878!important;
    transition: 0,3s; 
    width: 100px;  
}

.bg-ungu1:hover {
    background-color: rgb(14, 9, 116) !important;
}
.bg-ungu2 {
    background-color: #fd7a7a!important;
    transition: 0,3s; 
    width: 100px;  
}

.bg-ungu2:hover {
    background-color: rgb(14, 9, 116) !important;
}

.bg-ungu1{
    position: absolute;
    left: 950px;
    top: 50px;
    background-color: #fe7878;
    font-weight: bold;
    color: black;
    text-align: center;
    
}
.bg-ungu2 {
    position: absolute;
    right: 199px;
    top: 50px;
    background-color: #fe7878;
    font-weight: bold;
    color: black;
    text-align: center;

}







